@keyframes equalizer {
  0% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleY(1);
  }
}
.chat-box {
  max-height: 200px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
  resize: vertical;
}

.chat-box::-webkit-scrollbar {
  width: 8px;
}

.chat-box::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.chat-box::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.disabled {
  pointer-events: none;
  opacity: 0.6;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.mic-animation {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff1f5a;
  animation: pulse 1s infinite alternate;
}
.text-custom-color {
  color: rgb(81, 83, 86);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.uploading-animation {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border: 4px solid #ccc; /* Border color */
  border-top-color: #3498db; /* Spinning color */
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Apply the spin animation */
}
/* Add this CSS to your ChatPage.module.css or equivalent CSS file */
.remove-icon-container {
  position: relative;
}

.remove-icon {
  position: absolute;
  top: -20px;
  right: -10px;
  cursor: pointer;
}
